<html>
{%load static%}
<link rel="stylesheet" href="../../static/auth.css">
<body>
  <div class='box'>
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Login</button>
      <input type="hidden" name="next" value="{{next}}"/>
    </form>
    <form  action='/' method='get'> 
      <button type='submit'> Back to Home </button> 
    </form>
    <p class='redir-text'> Don't have an account? <a href='/signup'> Sign Up </a></p>
  </div>
</body>
</html>