<!DOCTYPE html>

<html lang="en">

{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<h1 class="header"> KU Polls </h1>
{% for msg in messages %} <p><strong>{{ msg }}</strong></p>
{% endfor %}
{% if latest_question_list %}
<div class='question_box'>
    {% for question in latest_question_list %}
        <a href="{% url 'polls:detail' question.id %}">
            <div class="box" >
            {{question.question_text}}
            </div>
        </a>
    {% endfor %}
</div>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</html>