<!DOCTYPE html>

<html lang="en">
{% extends "base.html" %}
{%block style%}
{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
{%endblock style%}

{%block content%}
<title> KU Polls </title>
<div>
    {%if messages%}
        <div class='messages'>
            {% for msg in messages %}  <p class={{msg.tags}}>{{ msg }}</p>
            {% endfor %}
        </div>
    {%endif%}
    </div>
{% if latest_question_list %}
<div class='question_box'>
    {% for question in latest_question_list %}
        {% if question.can_vote %}
        <a class='link' href="{% url 'polls:detail' question.id %}">
        {% else %}
        <a class='link' href="{% url 'polls:results' question.id %}">
        {% endif %}
            <div class="box" >
            {{question.question_text}}
                <div class='buttons'>
                    {% if question.can_vote %}
                        <div class='open'>●</div>
                    {%else%}
                        <div class='close'>🞮</div>
                    {%endif%}
                    <form action="{% url 'polls:results' question.id %}" method='get'> 
                        <button class='small_button' type='submit'> Results </button> 
                    </form>
                    {% if question.can_vote%}
                    <form action="{% url 'polls:detail' question.id %}" method='get'> 
                        <button class='small_button' type='submit'> Vote </button> 
                    </form>
                    {%endif%}
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{%endblock content%}
</html>